<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Definition for textEditor bean using inner bean -->
  
       
   <bean id="signupController" class="com.me.app1.controller.SignupController">
      <property name="userDAO">
         <bean id="userDAO" class="com.me.app1.dao.UserDAO"/>
       </property>       
   </bean>
   
 
   
   <bean id="movieController" class="com.me.app1.controller.MovieController">
      <property name="movieDAO">
         <bean id="movieDAO" class="com.me.app1.dao.MovieDAO"/>
       </property>       
   </bean>
  

</beans>